.button {
  background-color: #afc8fa;
  width: 276px;
  height: 78px;
  font-family: "Italiana", serif;
  font-size: 40px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #7692c9;
}

.button:focus {
  background-color: #7692c9;
  font-weight: bold;
}
