.navContainer {
    height: 91px;
    background-color: #AFC8FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    h1 {
        font-family: 'Italiana', serif;
        font-size: 58px;
    }
}